
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1><center>YOUR PROFIL...</center></h1>


    <p> WELCOM
    <%=current_user.first_name%> <%=current_user.last_name%></p></br>

      <p>What about YOU:</p>
       <%=current_user.description%></br></br>

       <p>Your mail Adress:
       <%=current_user.email%></p>



            <h1><center>Photo Profil</center></h1>

          <!--  <p>Bienvenue sur la page d'ajout d'un avatar pour le User portant l'id : <%=@current_user.id%></p>
            <h3>Avatar actuel</h3> -->


            <center>
              <%if @current_user.avatar.attached?%>
              <%= image_tag @current_user.avatar, alt: 'avatar' %>
              <%else%>
              <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
              <%end%>

            </center>

</br></br></br>
              <h3>Changer photo ?</h3>
<%= form_tag user_avatars_path(@current_user), multipart: true do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "mettre à jour" %>
<% end %>


  </body>
</html>

<p>Find me in app/views/users/show.html.erb</p>
